html, body {
	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
	width: 400px;
	outline: none;
	overflow: hidden;
    background: #f7f8f9;
}


#tabList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #f7f8f9;
}

.tab {
    position: relative;
    border-radius: 3px;
    height: 35px;
    border: 2px solid transparent;
    color: #101010;
    box-sizing: border-box;
    /*cursor: pointer;*/
    vertical-align: middle;
    overflow: hidden;
    padding: 6px 7px;
    background: #f7f8f9;
    margin: 1px;
}

.tab.visible {
    display: block;
}

.tab.active {
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: #2e7fb9;
    background: #eaebed;
}

.tab p{
	margin-top:3px;
	margin-bottom: 3px;
	font-size:14px;
}

.icon{
	width: 15px;
    height: 15px;
    float: left;
    margin: 5px 10px 0 0;
    border-radius: 3px;
    overflow: hidden;
    padding: 0;
}


